<app-calendar-control
  [month]="currentMonth"
  [year]="currentYear"
  class="calendar-control--container"
  (monthChanged)="monthChanged($event)"
  (showToday)="setTodaysDate()"
></app-calendar-control>
<app-weekday-names class="weekday-names"></app-weekday-names>
<div
  *ngFor="let curentWeek of arrayForNrOfWeeks; index as i"
  class="week--container"
>
  <app-day
    *ngFor="let day of monthDays | slice : 7 * i : 7 * (i + 1)"
    [day]="day"
    [class.active-day]="day === activeDay"
    (click)="dayClicked(day)"
    [refreshDay]="refreshDay"
  >
  </app-day>
</div>
<app-add-note-btn
  class="add-note-btn-outer-div"
  [activeDay]="activeDay"
  [calendarType]="calendarType"
></app-add-note-btn>
<app-todays-notes
  class="todays-notes"
  [activeDay]="activeDay"
  [calendarType]="calendarType"
  [refreshDay]="refreshDay"
  (noteDeleted)="noteWasDeleted()"
></app-todays-notes>
