.calendar-control--container {
  margin-right: auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.todays-notes {
  margin-right: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.add-note-btn-outer-div {
  margin: 1rem;
  margin-right: auto;
}

.week--container,
.weekday-names {
  width: 98%;
  display: flex;
}

.weekday-names {
  max-width: 1176px;
  text-transform: uppercase;
  text-align: center;
}

.week--container > app-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 120px;
  overflow: scroll;
  padding: 0.5rem 0;
}
