$lghGray: rgb(207, 208, 208);
$blue: rgb(29, 114, 232);

nav ul {
  background-color: $blue;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  & li {
    list-style: none;
    & a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $lghGray;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
}
