$textGray: rgb(88, 99, 109);
$lghGray: rgb(207, 208, 208);
$vlghGray: rgb(243, 243, 243);
$dkGray: rgb(98, 101, 104);
$vdkGray: rgb(55, 56, 58);
$blue: rgb(29, 114, 232);
$green: rgb(13, 116, 63);
$sand: rgb(252, 237, 224);
$borderStyle: 1px solid $lghGray;

*,
::after,
::before,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  border: $borderStyle;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: $vlghGray;
  }
}

.calendar-display,
.weekday-names {
  max-width: 1200px;
  margin: 0 auto;
}

.calendar-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.week--container > app-day,
.weekday-names > * {
  border: $borderStyle;
  flex-basis: calc(100% / 7);
  font-size: 0.8rem;
  color: $textGray;
  font-weight: 200;
}

.week--container > app-day {
  &.active-day > *.day-nr {
    color: white;
    background-color: $blue;
  }
}

@media (max-width: 600px) {
  .today-btn,
  .month-name,
  .week--container > app-day > p.note {
    display: none;
  }
  .month-year-container {
    order: 1;
    margin-right: auto;
  }
  .change-mth {
    order: 2;
  }
  .week--container > app-day,
  .weekday-names > * {
    border: none;
  }
  .week--container {
    height: 60px;
  }
}
